.calender {
    background-color: rgb(201, 201, 201);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
    grid-area: cal;
}

.calender div {
    background-color: rgb(228, 228, 228);
    color: rgb(87, 87, 87);
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}