section {
    display: grid;
    grid-template-rows: 5rem auto;
    grid-template-areas: 
    "select"
    "cal"; 
}

.select-month {
    background-color: rgb(228, 228, 228);
    grid-area: select;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-month .chooseMonth {
    color: rgb(50, 66, 82);
    font-size: 2rem;
    width: 330px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-month .newTodoButton {
    position: absolute;
    left: 22rem;
    font-size: 1.5rem;
    font-weight: 600;
}

.newTodoButton .fa-plus {
    color: rgb(0, 131, 33);
    background-color: rgb(255, 255, 255);
    padding: 0.4rem;
    border-radius: 3rem;
    box-shadow: 0rem 0rem 0.2rem black;
    margin-right: 0.3rem;
}

.newTodoButton .fa-plus:hover {
    cursor: pointer;
    background-color: white;
    box-shadow: 0rem 0rem 0.2rem green;
    font-size; 2
}

.select-month p {
    color: rgb(53, 53, 53);
    font-size: 2rem;
    padding: 0 0.3rem 0.5rem 0.3rem; 
}

.select-month i:nth-child(1) {
    justify-content: flex-start;
}

.select-month i:nth-child(2) {
    justify-content: flex-end;
}

.select-month i:hover {
    cursor: pointer;
    background-color: rgba(155, 155, 155, 0.397);
}

.calender {
    background-color: rgb(201, 201, 201);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1rem;
    padding: 1rem;
    grid-area: cal;    
}

.calender > div {
    background-color: rgb(228, 228, 228);
    color: rgb(87, 87, 87);
    font-size: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 4px rgb(105, 105, 105);  
    position: relative;     
}

.calender > div i {
    border: none;
    pointer-events: none;    
}

.calender > div .show-todo {
    border: none;
    pointer-events: none;
}

.calender > div .holiday {
    border: none;
    pointer-events: none;
}

.show-todo {    
    position: absolute;
    right: 0.3rem;
    bottom: 0.3rem;
    font-size: 16px;
    color: rgb(50, 66, 82);
    background: initial;
    font-weight: bold;
}

.holiday {
    position: absolute;
    left: 0.3rem;
    bottom: 0.3rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: rgb(199, 60, 71);
}

.calender > div .show-horn {    
    color: rgb(216, 83, 94);
    pointer-events: none;
    display: flex;
}

.calender > div i {
    position: absolute;
    left: 0.3rem;
    top: 0.3rem;
    font-size: 16px;
    color: rgb(50, 66, 82);
    font-weight: bold;
    display: none;
}

.calender div:hover {
    cursor: pointer;
}

.calender div:active {
    background: rgb(218, 218, 218);
}