aside {
    height: 86vh;
    grid-area: side;
    background-color: rgb(97, 113, 128);
    display: grid;
    grid-template-rows: 8rem auto 6rem;
    grid-template-areas: 
    "date"
    "todos"
    "addel";
}

.date {
    width: 92%;
    margin: 0 auto;
    height:13rem;
    background-image: url('../img/date-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-color: rgb(97, 113, 128); */
    grid-area: date;
    justify-content: center;
    position: relative;
    top: -5rem;
}

.date p {
    font-size: 2rem;
    color: rgb(54, 54, 54);
    font-family: 'Permanent Marker', cursive;
    transform: rotate(-2deg);
}

.date .day {
    font-size: 1.5rem;
}

.date .year {
    font-size: 1.5rem;
}

.todos {
    width: 100%;
    grid-area: todos;
    overflow-y: auto;
    padding: 0 1rem;
}

.todo {
    background-color: rgb(50, 66, 82);
    color: rgb(192, 192, 192);
    padding: 0.5rem;
    box-shadow: 8px 8px 16px rgb(31, 31, 31);
    margin-bottom: 1rem;
}

.add-delete {
    justify-content: space-around;
    align-items: center;
    grid-area: addel;
    background-color: rgb(114, 114, 114);
    border-top: 1px solid black;
}

.add-delete i {
    padding: 1rem;
    border-radius: 50%;
    color: rgb(165, 164, 164);
}

.add-delete i:nth-child(1) {
    background-color: rgb(199, 60, 71);
    font-size: 2.5rem;
}

.add-delete i:nth-child(2) {
    background-color: rgb(100, 100, 100);
    font-size: 2.5rem;
}

.add-delete i:nth-child(1):hover {
    background-color: rgb(192, 74, 86);
    color: gray;
    cursor: pointer;
}

.add-delete i:nth-child(2):hover {
    background-color: rgb(124, 124, 124);
    color: rgb(49, 49, 49);
    cursor: pointer;
}
